article.game-entry(id="game" + game.gameID)
	header.row
		.col-xs-6
			h3= game.title
		.col-xs-6
			if game.link
				a.download-link(href=game.link) Download
			if game.website
				a.website-link(href=game.website) Website
	.row.description-and-video
		section.game-description.col-sm-6
			!= game.description
		.col-sm-6.game-video
			video(src=game.thumbnail, autoplay, loop)
	- each cutting in game.press
		blockquote= "“" + cutting.quote + "”"
			cite= cutting.source

