nav.navbar.navbar-default.navbar-fixed-top.hideNav
	.center-container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sanc-nav')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#top') Sanctuary
		.collapse.navbar-collapse#sanc-nav
			ul.nav.navbar-nav
				li.active
					a.js-scroll-link(href='#top') Home
				li
					a.js-scroll-link(href='#news') News
				li.dropdown
					a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Games
						span.caret
					ul.dropdown-menu(role="menu")
						- each game in games
							li
								a.js-scroll-link(href="#game" + game.gameID)= game.title
				li
					a.js-scroll-link(href='#about') About
				li
					a(href='/blog') Blog
				li 
					a(href='http://forum.sanctuary-interactive.com/') Forum
			ul.nav.navbar-nav.navbar-right
				li
					a(href='mailto:steve@sanctuary-interactive.com')
						i.fa.fa-envelope
				li
					a.twitter(href="http://www.twitter.com/@SanctuaryInter")
						i.fa.fa-twitter