﻿article.blog-entry 
	if !post.published
		.alert.alert-danger(role="alert")
			| This post is unpublished. This is a preview.
	h3
		a(href='/blog/post/' + post.slug)= post.title
	!= post.body
	span.tags
		-each tag in post.tags || []
			a(href='/blog/tag/' + tag)= '#' + tag
	span.post-info= 'Posted by ' + post.user.name + ' on ' + post.dateCreated