﻿@import "bootstrap/less/bootstrap.less";

.form-signin {
    padding: 15px;
    max-width: 330px;
    margin: 10px auto;

    .form-signin-heading {
        margin-bottom: 10px;
    }

    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .form-control {
        position: relative;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
}
