﻿.blog-entry {
    margin: 10px 0;

    img {
        margin: 30px auto;
        max-width: 100%;
    }

    h3 a {
        color: @black;

        &:hover {
            
        }
    }

    .post-info, .tags {
        margin-top: 10px;
        font-size: 14px;
        color: #aaa;
        font-family: @font-family-sans-serif;
        display: block;
        text-align: right;
    }

    .tags {
        a {
            margin-left: 10px;
        }
    }

}
