﻿

#games {
    margin-top: -5px;

    .game-entry {
        padding-top: 10px;
        padding-bottom: 50px;

        video {
            max-width: 100%;
        }

        h4 {
            margin-top: 30px;
        }

        .description-and-video {
            margin-bottom: 10px;
        }

        &:nth-child(odd) {
            .game-description {
                .make-sm-column-push(6);
            }

            .game-video {
                .make-sm-column-pull(6);
            }
        }

        .download-link, .website-link {
            .btn-success();
            .btn();
            float: right;
            margin-top: 5px;
            font-size: 24px;
            text-align: center;
            font-family: @font-family-sans-serif;

            &:hover {
                color: white;
            }
        }
    }
}
