﻿.brand-header {
    padding: 60px;
    overflow: hidden;
    position: relative;

    video {
        position: absolute;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: -1000;
    }

    .logo {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}