﻿.container-fluid {
    padding: 0;

    & > section {
        .make-row();
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%;
        height: 100%;
        padding-bottom: 80px;
    }

}

.center-container {
    .make-sm-column(10);
    .make-sm-column-offset(1);
    .make-md-column(8);
    .make-md-column-offset(2);
    .make-lg-column(6);
    .make-lg-column-offset(3);
}