﻿nav.navbar {
    transform: translateZ(0);
    transition: transform ease 0.5s;
    font-family: @font-family-sans-serif;

    &.hideNav {
        transform: translate3D(0, -50px,0);
    }

    .twitter {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 0;
    }

    
}

.navbar-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
}