﻿.light {
    background: @offwhite;
    color: @black;

    a {
        color: lighten(@body-bg, 50%);

        &:hover {
            color: @body-bg;
        }
    }
}

.dark {
    background: @body-bg;
    color: @offwhite;

    a {
        color: #ccc;

        &:hover {
            color: white;
        }
    }
}