﻿@import "bootstrap/less/bootstrap.less";

@body-bg: #244250;
@black: #111111;
@text-color: @black;
@offwhite: #f6f6f6;
@font-family-sans-serif: 'Oswald', sans-serif;
@font-family-serif: 'PT Serif', serif;
@font-family-base: @font-family-serif;
@font-size-base: 18px;
@brand-success: #4ea87f;
@rss-color: #FF6600;

@import "footer.less";
@import "layout.less";
@import "navbar.less";
@import "typography.less";
@import "games.less";
@import "header.less";
@import "blog.less";
@import "sections.less";
@import "members.less";
@import "code.less";

.read-more {
    font-family: @font-family-sans-serif;
}

.rss {
    font-size: 22px;
    margin-left: 10px;
    color: lighten(@rss-color, 30%) !important;
    position: relative;
    top: -1px;
    &:hover {
        color: @rss-color !important;
    }
}
