﻿p {
    text-align: justify;
}

h3 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 72px;
    margin-top: 60px;
    margin-bottom: 60px;
}

blockquote {
    border: none;

    cite {
        &:before {
            margin: 0 10px;
            content: "—";
        }
    }

}

a:hover {
    text-decoration: none;
}
