doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sanctuary Interactive
		link(href='http://fonts.googleapis.com/css?family=Oswald|PT+Serif' rel='stylesheet', type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
		link(rel="stylesheet" href="/css/style.css")
	body
		block nav
		.container-fluid
			header.brand-header#top
				video(src='/vid/sanc2.mp4', autoplay, loop)
				.row
					.center-container
						img.logo(src='/img/sanclogo.png')
			block content	
			footer
				p.
					Copyright Sanctuary Interactive 2015
		script(src="https://code.jquery.com/jquery-1.11.2.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="/js/script.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
			Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-59924237-1', 'auto');
			ga('send', 'pageview');