extends layout

block nav
	include inc/nav

block content
	section.light#news
		.center-container
			h2 News
			if latestPost
				- var post = latestPost
				include inc/post
				.pull-right
					a.read-more(href='/blog') Read more blog posts
					a.rss(href='/blog/rss')
						i.fa.fa-rss-square
			else
				h3	No news at the moment!
	section.dark#games
		.center-container
			h2 Games
			- each game in games
				include inc/game
	section.light#about
		.center-container
			h2 About Us
			article.blurb
				!= about
			- each member in members
				article.member
					.row
						.col-xs-1.text-center
							a.twitter(href="http://www.twitter.com/@" + member.twitter)
								i.fa.fa-twitter
						.col-xs-1.text-center
							a.website(href=member.website) 
								i.fa.fa-globe
						.col-xs-10
							h4= member.name
								small= " ( " + member.roles.join(', ') + " ) "
