﻿mixin validation(name)
	if errors && errors[name]
		span.help-block.text-danger 
			=errors[name].message

mixin textBoxFor(name, label, value)
	.form-group(class=(errors && errors[name] ? "has-error" : ""))
		label.control-label(for=name) 
			=label
		input.form-control(type="text", name=name, value=value || "")
		+validation(name)

mixin textAreaFor(name, label, value)
	.form-group(class=(errors && errors[name] ? "has-error" : ""))
		label.control-label(for=name) 
			=label
		textarea.form-control(type="text", name=name, rows = 5)
			=value || ""
		+validation(name)

mixin checkBoxFor(name, label, value)
	.checkbox
		label
			input(type="checkbox", name=name, checked=value ? true : null)
			= label
	+validation(name)

mixin hiddenFor(name, value)
	input(type="hidden", name=name, value=value || "")

mixin tagUrl(tagName)
	a(href="/blog/tag/" + tagName.replace(" ", "-"))
		span.label ##{tagName}