﻿nav.navbar.navbar-default
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sanc-nav')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#top') Admin
		.collapse.navbar-collapse#sanc-nav
			ul.nav.navbar-nav
				li.active
					a(href='/admin') Home
				li.dropdown
					a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Posts
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(href='/admin/post/create') Create
						li
							a(href='/admin/posts') List
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/logout') Logout