﻿doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sanctuary Interactive	- Admin
		link(href='http://fonts.googleapis.com/css?family=Oswald|PT+Serif' rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="/css/admin.css")
	body
		include inc/navbar
		.container
			include inc/alerts
			block content	
		script(src="https://code.jquery.com/jquery-1.11.2.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="/js/script.js")