﻿doctype html
html
    head
        title
        link(rel='stylesheet' href='/css/admin.css')
    body
        .container
            form.form-signin(method='POST')
                h2.form-signin-heading Please sign in
                label.sr-only(for='inputEmail') Email address
                input#inputEmail.form-control(placeholder='Email address', name='username', required, autofocus, type='email')
                label.sr-only(for='inputPassword') Password
                input#inputPassword.form-control(placeholder='Password', required, name='password', type='password')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in