﻿extends ../layout

include ../inc/mixins

block content
	h1 Create New Post
	form(method='post')
		+textBoxFor('title', 'Title')
		+textAreaFor('body', 'Body')
		+textBoxFor('tags', 'Tags')
		+checkBoxFor('published', 'Published')
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-default(type='submit') Save