﻿extends ../layout

include ../inc/mixins

block content
	h1 Delete Post
	form(method='post')
		h3= post.title
		pre= post.body
		.form-group
			col-sm-10
				button.btn.btn-danger(type='submit') DELETE
