﻿extends ../layout

include ../inc/mixins

block content
	h1 Edit Post
	form(method='post')
		+hiddenFor('_id', post._id)
		+textBoxFor('title', 'Title', post.title)
		+textAreaFor('body', 'Body', post.body)
		+textBoxFor('tags', 'Tags', post.tags.join(", "))
		+checkBoxFor('published', 'Published', post.published)
		.form-group
			col-sm-10
				button.btn.btn-default(type='submit') Save
