﻿extends ../layout

block content
	h1 Posts
	table.table
		thead
			tr
				td Title
				td Author
				td Actions
		tbody
			-each post in posts
				tr
					td= post.title
					td= post.user.name
					td
						a(href='/blog/post/' + post.slug)
							span.glyphicon.glyphicon-eye-open
						a(href='/admin/post/edit/' + post.slug)
							span.glyphicon.glyphicon-pencil
						a(href='/admin/post/delete/' + post.slug)
							span.glyphicon.glyphicon-trash